NODE_ENV='development | test | production'
APP_PORT=PORT_FOR_NODE_SERVER
APP_ENVIRONMENT='development | test | production'
APP_LOG_LEVEL=LOG_LEVEL
DB_USERNAME=ADMIN_USERNAME
DB_PASSWORD=ADMIN_PASSWORD
DB_NAME=DATABASE_NAME
DB_CONNECTION_STRING=FOR_DEVELOPMENT_KEEP_CONTAINER_NAME
DB_INTERNAL_PORT=DB_INTERNAL_PORT
DB_EXTERNAL_PORT=DB_EXTERNAL_PORT
FRONTEND_URL=FRONTEND_URL
FRONTEND_HOST=FRONTEND_HOST
FRONTEND_PORT=FRONTEND_PORT
POOL_CONTROLLER_USERNAME=POOL_USERNAME
POOL_CONTROLLER_PASSWORD=POOL_PASSWORD
POOL_CONTROLLER_CONNECTION_STRING=POOL_CONNECTION_STRING
POOL_CONTROLLER_PORT=POOL_PORT
